{% extends "base.html" %}
{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fail2Dash</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">{{ data.hostname }}<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container maximize">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Overview</a></li>
                <li role="presentation"><a href="/raw">Raw Logs</a></li>

                <div class="spacer100"></div>

                <div class="overview-controls">
                    <li class="text-center">Status</li>
                    {% if data.status == true %}
                    <button type="button" class="btn btn-success button-control">On</button>
                    {% else %}
                    <button type="button" class="btn btn-danger button-control">Off</button>
                    {% endif %}
                    <li class="text-center">Realtime</li>
                    <button type="button" class="btn btn-danger button-control">Off</button>
                </div>
            </ul>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest bans</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>Service</th>
                                <th>Country</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">8.8.8.8</th>
                                <td>SSH</td>
                                <td>USA</td>
                                <td>10/10/15-10:10</td>
                            </tr>
                            <tr>
                                <th scope="row">8.8.8.8</th>
                                <td>SSH</td>
                                <td>USA</td>
                                <td>10/10/15-10:10</td>
                            </tr>
                            <tr>
                                <th scope="row">8.8.8.8</th>
                                <td>SSH</td>
                                <td>USA</td>
                                <td>10/10/15-10:10</td>
                            </tr>
                            <tr>
                                <th scope="row">8.8.8.8</th>
                                <td>SSH</td>
                                <td>USA</td>
                                <td>10/10/15-10:10</td>
                            </tr>
                            <tr>
                                <th scope="row">8.8.8.8</th>
                                <td>SSH</td>
                                <td>USA</td>
                                <td>10/10/15-10:10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Most bans by country</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">14</span>China</li>
                        <li class="list-group-item"><span class="badge">14</span>China</li>
                        <li class="list-group-item"><span class="badge">14</span>China</li>
                        <li class="list-group-item"><span class="badge">14</span>China</li>
                        <li class="list-group-item"><span class="badge">14</span>China</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Map of recent bans</h3>
                </div>
                <div class="panel-body">
                    <div id="googleMap" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
    var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
